<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/test4?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="dataaccess.bean.GrantCondition"/>
        <mapping class="dataaccess.bean.LoanFile"/>
        <mapping class="dataaccess.bean.LoanType"/>
        <mapping class="dataaccess.bean.RealCustomer"/>
    </session-factory>
</hibernate-configuration>