<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test4?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.show_sql">true</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
        <mapping  resource="hbm/GrantCondition.hbm.xml"/>
        <mapping  resource="hbm/LoanFile.hbm.xml"/>
        <mapping  resource="hbm/LoanType.hbm.xml"/>
        <mapping resource="hbm/RealCustomer.hbm.xml"/>
    </session-factory>
</hibernate-configuration>